body {
  font-family: "Inter", sans-serif;
}

#hero {
  animation-name: fade-in;
  animation-duration: 2s;
}

@keyframes fade-in {
  /* initial state or our properties */
  from {
    /* opacity - opposit of transparency */
    /* 0 transparent */
    opacity: 0;
  }
  /* final state of our properties we are animating */
  to {
    /* completely visible/opaque */
    opacity: 1;
  }
}

.pulse {
  animation-name: pulse;
  animation-duration: 1s;
  /* delay the animation start */
  animation-delay: 1s;
  animation-iteration-count: 5;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
